
# ---------------------------------------------------------
# STANDARD JULIA IGNORE
/Manifest.toml
docs/build/
.DS_Store
# ---------------------------------------------------------


# ---------------------------------------------------------
# DEVELOPMENT FILES
sandbox.jl
sandbox.R
tmp
# ---------------------------------------------------------