
# ---------------------------------------------------------
# STANDARD JULIA IGNORE
/Manifest.toml
docs/build/
.DS_Store
docs/.DS_Store
.env
.env.gpg
# ---------------------------------------------------------


# ---------------------------------------------------------
# DEVELOPMENT FILES
sandbox.jl
sandbox_test.jl
sandbox.R
tmp
# ---------------------------------------------------------
