
name: Documentation
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.9'
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
        run: julia --project=docs/ docs/make.jl













# jobs:
#   doc-preview-cleanup:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout gh-pages branch
#         uses: actions/checkout@v2
#         with:
#           ref: gh-pages
#       - name: Delete preview and history + push changes
#         run: |
#             if [ -d "previews/PR$PRNUM" ]; then
#               git config user.name "EL"
#               git config user.email "EL@EL.com"
#               git rm -rf "previews/PR$PRNUM"
#               git commit -m "delete preview"
#               git branch gh-pages-new $(echo "delete history" | git commit-tree HEAD^{tree})
#               git push --force origin gh-pages-new:gh-pages
#             fi
#         env:
#             PRNUM: ${{ github.event.number }}
